* {
  box-sizing: border-box;
}

ul,
li,
h1,
p,
button,
section,
div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

* {
  font-family: "Roboto", sans-serif;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.hero__game {
  margin: 0 100px;
}
@media screen and (max-width: 1000px) {
  .hero__game {
    margin: 0;
  }
}

.hero__list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
  border-radius: 20px;
  position: relative;
  z-index: 1000;
}
@media screen and (max-width: 1000px) {
  .hero__list {
    width: 300px;
    height: 300px;
  }
}

.hero__item {
  width: 33.3333%;
  height: 33.3333%;
  border: rgb(229, 133, 43) 1px solid;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  background-color: rgb(249, 249, 249);
}
.hero__item:hover {
  background-color: rgb(228, 228, 228);
}
.hero__item:nth-child(1) {
  border-radius: 18px 0px 0px 0px;
}
.hero__item:nth-child(3) {
  border-radius: 0px 18px 0px 0px;
}
.hero__item:nth-child(7) {
  border-radius: 0px 0px 0px 18px;
}
.hero__item:nth-child(9) {
  border-radius: 0px 0px 18px 0px;
}

.hero__buttons {
  position: relative;
  top: -20px;
  display: flex;
  height: 80px;
  background-color: rgb(237, 237, 237);
  border-radius: 0px 0px 20px 20px;
  box-shadow: 1px 28px 103px -27px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 1px 28px 103px -27px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 1px 28px 103px -27px rgba(0, 0, 0, 0.8);
}

.hero__button {
  color: rgb(84, 84, 84);
  display: block;
  width: 50%;
  transition: 0.3s;
  font-size: 16px;
  border-radius: 0px 0px 0px 20px;
  border: none;
  padding: 20px 0 0 0;
  transition: 0.3s;
}
.hero__button:hover {
  background-color: rgb(228, 228, 228);
}
.hero__button:last-child {
  border-radius: 0px 0px 20px 0px;
}
.hero__button--orange {
  animation: animationColor 1.5s infinite;
}
.hero__button--orange:hover {
  background-color: rgb(229, 133, 43);
}

@keyframes animationColor {
  0% {
    background-color: rgb(229, 133, 43);
  }
  50% {
    background-color: rgb(237, 237, 237);
  }
  100% {
    background-color: rgb(229, 133, 43);
  }
}
.hero__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: rgb(84, 84, 84);
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 1000px) {
  .hero__svg {
    width: 80px;
    height: 80px;
  }
}
.hero__svg--hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.hero__svg-main {
  fill: rgb(84, 84, 84);
  display: block;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.hero__result {
  margin-top: 150px;
}
@media screen and (max-width: 1000px) {
  .hero__result {
    display: none;
  }
}

.hero__player {
  font-size: 18px;
  color: rgb(84, 84, 84);
  margin-bottom: 30px;
  text-align: center;
}
.hero__player--number {
  background-color: rgb(249, 249, 249);
  color: rgb(229, 133, 43);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 1px 28px 60px -27px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 28px 60px -27px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 28px 60px -27px rgba(0, 0, 0, 0.3);
}

.hero__number {
  display: block;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
}

.hero__queue {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: rgb(84, 84, 84);
}
@media screen and (max-width: 1000px) {
  .hero__queue {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */